In [4]:
import pandas as pd

In [3]:
import os

In [49]:
all_entries = os.listdir('data/')
csv_files = [f for f in all_entries if f.endswith('.csv')]
csv_files

['A.csv',
 'AA.csv',
 'AACB.csv',
 'AACG.csv',
 'AAL.csv',
 'AAME.csv',
 'AAMI.csv',
 'AAOI.csv',
 'AAON.csv',
 'AAP.csv',
 'AAPG.csv',
 'AAPL.csv',
 'AARD.csv',
 'AAT.csv',
 'AAUC.csv',
 'AB.csv',
 'ABAT.csv',
 'ABBV.csv',
 'ABCB.csv',
 'ABCL.csv',
 'ABEO.csv',
 'ABEV.csv',
 'ABG.csv',
 'ABLV.csv',
 'ABM.csv',
 'ABNB.csv',
 'ABOS.csv',
 'ABP.csv',
 'ABR.csv',
 'ABSI.csv',
 'ABT.csv',
 'ABTC.csv',
 'ABTS.csv',
 'ABUS.csv',
 'ABVC.csv',
 'ABVE.csv',
 'ABVX.csv',
 'ABX.csv',
 'ACA.csv',
 'ACAD.csv',
 'ACB.csv',
 'ACCL.csv',
 'ACCO.csv',
 'ACCS.csv',
 'ACDC.csv',
 'ACEL.csv',
 'ACET.csv',
 'ACFN.csv',
 'ACGL.csv',
 'ACH.csv',
 'ACHC.csv',
 'ACHR.csv',
 'ACHV.csv',
 'ACI.csv',
 'ACIC.csv',
 'ACIU.csv',
 'ACIW.csv',
 'ACLS.csv',
 'ACLX.csv',
 'ACM.csv',
 'ACMR.csv',
 'ACN.csv',
 'ACNB.csv',
 'ACNT.csv',
 'ACOG.csv',
 'ACON.csv',
 'ACR.csv',
 'ACRE.csv',
 'ACRS.csv',
 'ACRV.csv',
 'ACT.csv',
 'ACTG.csv',
 'ACTU.csv',
 'ACU.csv',
 'ACVA.csv',
 'ACXP.csv',
 'AD.csv',
 'ADAC.csv',
 'ADAG.csv',
 'ADAM.csv',
 'ADBE.csv',
 'ADC.csv',
 'ADCT.csv',
 'ADEA.csv',
 'ADGM.csv',
 'ADI.csv',
 'ADIL.csv',
 'ADM.csv',
 'ADMA.csv',
 'ADNT.csv',
 'ADP.csv',
 'ADPT.csv',
 'ADSE.csv',
 'ADSK.csv',
 'ADT.csv',
 'ADTN.csv',
 'ADTX.csv',
 'ADUR.csv',
 'ADUS.csv',
 'ADV.csv',
 'ADVB.csv',
 'ADXN.csv',
 'AEAQ.csv',
 'AEBI.csv',
 'AEC.csv',
 'AEE.csv',
 'AEG.csv',
 'AEHL.csv',
 'AEHR.csv',
 'AEI.csv',
 'AEIS.csv',
 'AEM.csv',
 'AEMD.csv',
 'AENT.csv',
 'AEO.csv',
 'AEON.csv',
 'AEP.csv',
 'AER.csv',
 'AERO.csv',
 'AERT.csv',
 'AES.csv',
 'AESI.csv',
 'AEVA.csv',
 'AEXA.csv',
 'AEYE.csv',
 'AFBI.csv',
 'AFCG.csv',
 'AFG.csv',
 'AFJK.csv',
 'AFL.csv',
 'AFRI.csv',
 'AFRM.csv',
 'AFYA.csv',
 'AG.csv',
 'AGAE.csv',
 'AGBK.csv',
 'AGCC.csv',
 'AGCO.csv',
 'AGEN.csv',
 'AGH.csv',
 'AGI.csv',
 'AGIG.csv',
 'AGIO.csv',
 'AGL.csv',
 'AGM.csv',
 'AGM.A.csv',
 'AGMB.csv',
 'AGMH.csv',
 'AGNC.csv',
 'AGNCM.csv',
 'AGO.csv',
 'AGPU.csv',
 'AGRO.csv',
 'AGRZ.csv',
 'AGX.csv',
 'AGYS.csv',
 'AHCO.csv',
 'AHG.csv',
 'AHH.csv',
 'AHL.csv',
 'AHMA.csv',
 'AHR.csv',
 'AHT.csv',
 'AI.csv',
 'AIFF.csv',
 'AIFU.csv',
 'AIG.csv',
 'AIHS.csv',
 'AII.csv',
 'AIIA.csv',
 'AIIO.csv',
 'AIMD.csv',
 'AIN.csv',
 'AIOT.csv',
 'AIP.csv',
 'AIR.csv',
 'AIRE.csv',
 'AIRG.csv',
 'AIRI.csv',
 'AIRJ.csv',
 'AIRO.csv',
 'AIRS.csv',
 'AIRT.csv',
 'AISP.csv',
 'AIT.csv',
 'AIV.csv',
 'AIXC.csv',
 'AIXI.csv',
 'AIZ.csv',
 'AJG.csv',
 'AKA.csv',
 'AKAM.csv',
 'AKAN.csv',
 'AKBA.csv',
 'AKO.A.csv',
 'AKO.B.csv',
 'AKR.csv',
 'AKTS.csv',
 'AKTX.csv',
 'AL.csv',
 'ALAB.csv',
 'ALAR.csv',
 'ALB.csv',
 'ALBT.csv',
 'ALC.csv',
 'ALCO.csv',
 'ALCY.csv',
 'ALDF.csv',
 'ALDX.csv',
 'ALEC.csv',
 'ALEX.csv',
 'ALF.csv',
 'ALG.csv',
 'ALGM.csv',
 'ALGN.csv',
 'ALGS.csv',
 'ALGT.csv',
 'ALH.csv',
 'ALHC.csv',
 'ALIS.csv',
 'ALIT.csv',
 'ALK.csv',
 'ALKS.csv',
 'ALKT.csv',
 'ALL.csv',
 'ALLE.csv',
 'ALLO.csv',
 'ALLR.csv',
 'ALLT.csv',
 'ALLY.csv',
 'ALM.csv',
 'ALMS.csv',
 'ALMU.csv',
 'ALNT.csv',
 'ALNY.csv',
 'ALOT.csv',
 'ALPS.csv',
 'ALRM.csv',
 'ALRS.csv',
 'ALSN.csv',
 'ALT.csv',
 'ALTG.csv',
 'ALTI.csv',
 'ALTO.csv',
 'ALTS.csv',
 'ALUR.csv',
 'ALV.csv',
 'ALVO.csv',
 'ALX.csv',
 'ALXO.csv',
 'ALZN.csv',
 'AM.csv',
 'AMAL.csv',
 'AMAT.csv',
 'AMBA.csv',
 'AMBO.csv',
 'AMBP.csv',
 'AMBQ.csv',
 'AMBR.csv',
 'AMC.csv',
 'AMCI.csv',
 'AMCR.csv',
 'AMCX.csv',
 'AMD.csv',
 'AME.csv',
 'AMG.csv',
 'AMGN.csv',
 'AMH.csv',
 'AMIX.csv',
 'AMKR.csv',
 'AMLX.csv',
 'AMN.csv',
 'AMOD.csv',
 'AMP.csv',
 'AMPG.csv',
 'AMPH.csv',
 'AMPL.csv',
 'AMPX.csv',
 'AMPY.csv',
 'AMR.csv',
 'AMRC.csv',
 'AMRN.csv',
 'AMRX.csv',
 'AMS.csv',
 'AMSC.csv',
 'AMSF.csv',
 'AMST.csv',
 'AMT.csv',
 'AMTB.csv',
 'AMTD.csv',
 'AMTM.csv',
 'AMTX.csv',
 'AMWD.csv',
 'AMWL.csv',
 'AMX.csv',
 'AMZE.csv',
 'AMZN.csv',
 'AN.csv',
 'ANAB.csv',
 'ANDE.csv',
 'ANDG.csv',
 'ANEB.csv',
 'ANET.csv',
 'ANF.csv',
 'ANGH.csv',
 'ANGI.csv',
 'ANGO.csv',
 'ANGX.csv',
 'ANIK.csv',
 'ANIP.csv',
 'ANIX.csv',
 'ANL.csv',
 'ANNA.csv',
 'ANNX.csv',
 'ANPA.csv',
 'ANRO.csv',
 'ANSC.csv',
 'ANTA.csv',
 'ANTX.csv',
 'ANVS.csv',
 'ANY.csv',
 'AOMR.csv',
 'AON.csv',
 'AORT.csv',
 'AOS.csv',
 'AOSL.csv',
 'AOUT.csv',
 'AP.csv',
 'APA.csv',
 'APAC.csv',
 'APAD.csv',
 'APAM.csv',
 'APC.csv',
 'APD.csv',
 'APEI.csv',
 'APG.csv',
 'APGE.csv',
 'APH.csv',
 'API.csv',
 'APLD.csv',
 'APLE.csv',
 'APLM.csv',
 'APLS.csv',
 'APM.csv',
 'APO.csv',
 'APOG.csv',
 'APP.csv',
 'APPF.csv',
 'APPN.csv',
 'APPS.csv',
 'APRE.csv',
 'APT.csv',
 'APTV.csv',
 'APUS.csv',
 'APVO.csv',
 'APWC.csv',
 'APXT.csv',
 'APYX.csv',
 'AQB.csv',
 'AQMS.csv',
 'AQN.csv',
 'AQST.csv',
 'AR.csv',
 'ARAI.csv',
 'ARAY.csv',
 'ARBB.csv',
 'ARBE.csv',
 'ARBK.csv',
 'ARCB.csv',
 'ARCC.csv',
 'ARCO.csv',
 'ARCT.csv',
 'ARDT.csv',
 'ARDX.csv',
 'ARE.csv',
 'AREB.csv',
 'AREC.csv',
 'AREN.csv',
 'ARES.csv',
 'ARGX.csv',
 'ARHS.csv',
 'ARI.csv',
 'ARKO.csv',
 'ARKR.csv',
 'ARL.csv',
 'ARLO.csv',
 'ARLP.csv',
 'ARM.csv',
 'ARMK.csv',
 'ARMN.csv',
 'ARMP.csv',
 'AROC.csv',
 'AROW.csv',
 'ARQ.csv',
 'ARQQ.csv',
 'ARQT.csv',
 'ARR.csv',
 'ARRY.csv',
 'ARTL.csv',
 'ARTNA.csv',
 'ARTV.csv',
 'ARTW.csv',
 'ARVN.csv',
 'ARW.csv',
 'ARWR.csv',
 'ARX.csv',
 'AS.csv',
 'ASA.csv',
 'ASAN.csv',
 'ASB.csv',
 'ASBP.csv',
 'ASC.csv',
 'ASGN.csv',
 'ASH.csv',
 'ASIC.csv',
 'ASIX.csv',
 'ASLE.csv',
 'ASM.csv',
 'ASMB.csv',
 'ASML.csv',
 'ASND.csv',
 'ASNS.csv',
 'ASO.csv',
 'ASPC.csv',
 'ASPI.csv',
 'ASPN.csv',
 'ASPS.csv',
 'ASR.csv',
 'ASRT.csv',
 'ASRV.csv',
 'ASST.csv',
 'ASTC.csv',
 'ASTE.csv',
 'ASTH.csv',
 'ASTI.csv',
 'ASTL.csv',
 'ASTS.csv',
 'ASUR.csv',
 'ASX.csv',
 'ASYS.csv',
 'ATAI.csv',
 'ATAT.csv',
 'ATCH.csv',
 'ATCX.csv',
 'ATEC.csv',
 'ATEN.csv',
 'ATER.csv',
 'ATEX.csv',
 'ATGE.csv',
 'ATGL.csv',
 'ATHE.csv',
 'ATHM.csv',
 'ATHR.csv',
 'ATI.csv',
 'ATII.csv',
 'ATKR.csv',
 'ATLC.csv',
 'ATLN.csv',
 'ATLO.csv',
 'ATLX.csv',
 'ATMU.csv',
 'ATNI.csv',
 'ATNM.csv',
 'ATO.csv',
 'ATOM.csv',
 'ATON.csv',
 'ATOS.csv',
 'ATPC.csv',
 'ATR.csv',
 'ATRA.csv',
 'ATRC.csv',
 'ATRO.csv',
 'ATS.csv',
 'ATXG.csv',
 'ATYR.csv',
 'AU.csv',
 'AUB.csv',
 'AUBN.csv',
 'AUDC.csv',
 'AUGO.csv',
 'AUID.csv',
 'AUNA.csv',
 'AUPH.csv',
 'AUR.csv',
 'AURA.csv',
 'AURE.csv',
 'AUST.csv',
 'AUTL.csv',
 'AUUD.csv',
 'AVA.csv',
 'AVAH.csv',
 'AVAL.csv',
 'AVAV.csv',
 'AVB.csv',
 'AVBC.csv',
 'AVBH.csv',
 'AVBP.csv',
 'AVD.csv',
 'AVDL.csv',
 'AVGO.csv',
 'AVIR.csv',
 'AVNS.csv',
 'AVNT.csv',
 'AVNW.csv',
 'AVO.csv',
 'AVPT.csv',
 'AVR.csv',
 'AVT.csv',
 'AVTR.csv',
 'AVTX.csv',
 'AVX.csv',
 'AVXL.csv',
 'AVY.csv',
 'AWI.csv',
 'AWK.csv',
 'AWR.csv',
 'AWRE.csv',
 'AWX.csv',
 'AX.csv',
 'AXG.csv',
 'AXGN.csv',
 'AXIA.csv',
 'AXIL.csv',
 'AXIN.csv',
 'AXON.csv',
 'AXP.csv',
 'AXR.csv',
 'AXS.csv',
 'AXSM.csv',
 'AXTA.csv',
 'AXTI.csv',
 'AYI.csv',
 'AYTU.csv',
 'AZ.csv',
 'AZI.csv',
 'AZN.csv',
 'AZO.csv',
 'AZTA.csv',
 'AZTR.csv',
 'AZZ.csv',
 'B.csv',
 'BA.csv',
 'BABA.csv',
 'BAC.csv',
 'BACC.csv',
 'BACQ.csv',
 'BAER.csv',
 'BAFN.csv',
 'BAH.csv',
 'BAK.csv',
 'BALL.csv',
 'BALY.csv',
 'BAM.csv',
 'BANC.csv',
 'BAND.csv',
 'BANF.csv',
 'BANL.csv',
 'BANR.csv',
 'BAOS.csv',
 'BAP.csv',
 'BARK.csv',
 'BATL.csv',
 'BATRA.csv',
 'BATRK.csv',
 'BAX.csv',
 'BAYA.csv',
 'BB.csv',
 'BBAI.csv',
 'BBAR.csv',
 'BBBY.csv',
 'BBCP.csv',
 'BBCQ.csv',
 'BBD.csv',
 'BBDC.csv',
 'BBDO.csv',
 'BBGI.csv',
 'BBIO.csv',
 'BBLG.csv',
 'BBNX.csv',
 'BBOT.csv',
 'BBSI.csv',
 'BBT.csv',
 'BBU.csv',
 'BBUC.csv',
 'BBVA.csv',
 'BBW.csv',
 'BBWI.csv',
 'BBY.csv',
 'BC.csv',
 'BCAB.csv',
 'BCAL.csv',
 'BCAR.csv',
 'BCAX.csv',
 'BCBP.csv',
 'BCC.csv',
 'BCDA.csv',
 'BCE.csv',
 'BCG.csv',
 'BCH.csv',
 'BCIC.csv',
 'BCML.csv',
 'BCO.csv',
 'BCPC.csv',
 'BCRX.csv',
 'BCS.csv',
 'BCSF.csv',
 'BCSS.csv',
 'BCTX.csv',
 'BCYC.csv',
 'BDC.csv',
 'BDCI.csv',
 'BDL.csv',
 'BDMD.csv',
 'BDN.csv',
 'BDRX.csv',
 'BDSX.csv',
 'BDTX.csv',
 'BDX.csv',
 'BE.csv',
 'BEAG.csv',
 'BEAM.csv',
 'BEAT.csv',
 'BEBE.csv',
 'BEEM.csv',
 'BEEP.csv',
 'BEKE.csv',
 'BELFA.csv',
 'BELFB.csv',
 'BEN.csv',
 'BENF.csv',
 'BEP.csv',
 'BEPC.csv',
 'BETA.csv',
 'BETR.csv',
 'BF.A.csv',
 'BF.B.csv',
 'BFAM.csv',
 'BFC.csv',
 'BFH.csv',
 'BFLY.csv',
 'BFRG.csv',
 'BFRI.csv',
 'BFS.csv',
 'BFST.csv',
 'BG.csv',
 'BGC.csv',
 'BGI.csv',
 'BGIN.csv',
 'BGL.csv',
 'BGLC.csv',
 'BGM.csv',
 'BGMS.csv',
 'BGS.csv',
 'BGSF.csv',
 'BGSI.csv',
 'BH.csv',
 'BH.A.csv',
 'BHAT.csv',
 'BHB.csv',
 'BHC.csv',
 'BHE.csv',
 'BHF.csv',
 'BHM.csv',
 'BHP.csv',
 'BHR.csv',
 'BHRB.csv',
 'BHST.csv',
 'BHVN.csv',
 'BIAF.csv',
 'BIDU.csv',
 'BIIB.csv',
 'BIII.csv',
 'BILI.csv',
 'BILL.csv',
 'BIO.csv',
 'BIO.B.csv',
 'BIOA.csv',
 'BIOX.csv',
 'BIP.csv',
 'BIPC.csv',
 'BIRD.csv',
 'BIRK.csv',
 'BITF.csv',
 'BIVI.csv',
 'BIXI.csv',
 'BIYA.csv',
 'BJ.csv',
 'BJDX.csv',
 'BJRI.csv',
 'BK.csv',
 'BKD.csv',
 'BKE.csv',
 'BKH.csv',
 'BKHA.csv',
 'BKKT.csv',
 'BKNG.csv',
 'BKR.csv',
 'BKSY.csv',
 'BKTI.csv',
 'BKU.csv',
 'BKV.csv',
 'BKYI.csv',
 'BL.csv',
 'BLBD.csv',
 'BLBX.csv',
 'BLCO.csv',
 'BLD.csv',
 'BLDP.csv',
 'BLDR.csv',
 'BLFS.csv',
 'BLFY.csv',
 'BLIN.csv',
 'BLIV.csv',
 'BLK.csv',
 'BLKB.csv',
 'BLLN.csv',
 'BLMN.csv',
 'BLND.csv',
 'BLNE.csv',
 'BLNK.csv',
 'BLRK.csv',
 'BLRX.csv',
 'BLSH.csv',
 'BLTE.csv',
 'BLUW.csv',
 'BLX.csv',
 'BLZE.csv',
 'BLZR.csv',
 'BMA.csv',
 'BMBL.csv',
 'BMEA.csv',
 'BMGL.csv',
 'BMHL.csv',
 'BMI.csv',
 'BMM.csv',
 'BMNR.csv',
 'BMO.csv',
 'BMR.csv',
 'BMRA.csv',
 'BMRC.csv',
 'BMRN.csv',
 'BMY.csv',
 'BN.csv',
 'BNAI.csv',
 'BNBX.csv',
 'BNC.csv',
 'BNED.csv',
 'BNGO.csv',
 'BNKK.csv',
 'BNL.csv',
 'BNR.csv',
 'BNRG.csv',
 'BNS.csv',
 'BNT.csv',
 'BNTC.csv',
 'BNTX.csv',
 'BNZI.csv',
 'BOBS.csv',
 'BOC.csv',
 'BODI.csv',
 'BOF.csv',
 'BOH.csv',
 'BOKF.csv',
 'BOLD.csv',
 'BOLT.csv',
 'BON.csv',
 'BOOM.csv',
 'BOOT.csv',
 'BORR.csv',
 'BOSC.csv',
 'BOTJ.csv',
 'BOW.csv',
 'BOX.csv',
 'BOXL.csv',
 'BP.csv',
 'BPAC.csv',
 'BPOP.csv',
 'BPRN.csv',
 'BQ.csv',
 'BR.csv',
 'BRAG.csv',
 'BRBI.csv',
 'BRBR.csv',
 'BRBS.csv',
 'BRC.csv',
 'BRCB.csv',
 'BRCC.csv',
 'BRFH.csv',
 'BRIA.csv',
 'BRID.csv',
 'BRK.A.csv',
 'BRK.B.csv',
 'BRKR.csv',
 'BRLS.csv',
 'BRLT.csv',
 'BRN.csv',
 'BRNS.csv',
 'BRO.csv',
 'BROS.csv',
 'BRR.csv',
 'BRSL.csv',
 'BRSP.csv',
 'BRT.csv',
 'BRTX.csv',
 'BRX.csv',
 'BRZE.csv',
 'BSAA.csv',
 'BSAC.csv',
 'BSBK.csv',
 'BSBR.csv',
 'BSET.csv',
 'BSM.csv',
 'BSRR.csv',
 'BST.csv',
 'BSVN.csv',
 'BSX.csv',
 'BSY.csv',
 'BTAI.csv',
 'BTBD.csv',
 'BTBT.csv',
 'BTCS.csv',
 'BTCT.csv',
 'BTDR.csv',
 'BTE.csv',
 'BTG.csv',
 'BTGO.csv',
 'BTI.csv',
 'BTM.csv',
 'BTMD.csv',
 'BTOC.csv',
 'BTOG.csv',
 'BTQ.csv',
 'BTSG.csv',
 'BTTC.csv',
 'BTU.csv',
 'BTX.csv',
 'BUD.csv',
 'BUDA.csv',
 'BULL.csv',
 'BUR.csv',
 'BURL.csv',
 'BURU.csv',
 'BUSE.csv',
 'BUUU.csv',
 'BV.csv',
 'BVC.csv',
 'BVFL.csv',
 'BVN.csv',
 'BVS.csv',
 'BW.csv',
 'BWA.csv',
 'BWAY.csv',
 'BWB.csv',
 'BWEN.csv',
 'BWFG.csv',
 'BWIN.csv',
 'BWLP.csv',
 'BWMN.csv',
 'BWMX.csv',
 'BWXT.csv',
 'BX.csv',
 'BXC.csv',
 'BXMT.csv',
 'BXP.csv',
 'BXSL.csv',
 'BY.csv',
 'BYAH.csv',
 'BYD.csv',
 'BYFC.csv',
 'BYND.csv',
 'BYRN.csv',
 'BYSI.csv',
 'BZ.csv',
 'BZAI.csv',
 'BZFD.csv',
 'BZH.csv',
 'BZUN.csv',
 'C.csv',
 'CAAP.csv',
 'CAAS.csv',
 'CABA.csv',
 'CABO.csv',
 'CABR.csv',
 'CAC.csv',
 'CACC.csv',
 'CACI.csv',
 'CADL.csv',
 'CAE.csv',
 'CAEP.csv',
 'CAG.csv',
 'CAH.csv',
 'CAI.csv',
 'CAKE.csv',
 'CAL.csv',
 'CALC.csv',
 'CALM.csv',
 'CALX.csv',
 'CALY.csv',
 'CAMP.csv',
 'CAMT.csv',
 'CAN.csv',
 'CANF.csv',
 'CANG.csv',
 'CAPL.csv',
 'CAPN.csv',
 'CAPR.csv',
 'CAPS.csv',
 'CAPT.csv',
 'CAR.csv',
 'CARE.csv',
 'CARG.csv',
 'CARL.csv',
 'CARR.csv',
 'CARS.csv',
 'CART.csv',
 'CASH.csv',
 'CASI.csv',
 'CASS.csv',
 'CASY.csv',
 'CAT.csv',
 'CATO.csv',
 'CATX.csv',
 'CATY.csv',
 'CAVA.csv',
 'CB.csv',
 'CBAN.csv',
 'CBAT.csv',
 'CBC.csv',
 'CBFV.csv',
 'CBIO.csv',
 'CBK.csv',
 'CBL.csv',
 'CBLL.csv',
 'CBNA.csv',
 'CBNK.csv',
 'CBOE.csv',
 'CBRE.csv',
 'CBRL.csv',
 'CBSH.csv',
 'CBT.csv',
 'CBU.csv',
 'CBUS.csv',
 'CBZ.csv',
 'CC.csv',
 'CCAP.csv',
 'CCB.csv',
 'CCBG.csv',
 'CCC.csv',
 'CCCC.csv',
 'CCCX.csv',
 'CCEC.csv',
 'CCEL.csv',
 'CCEP.csv',
 'CCG.csv',
 'CCHH.csv',
 'CCI.csv',
 'CCII.csv',
 'CCIX.csv',
 'CCJ.csv',
 'CCK.csv',
 'CCL.csv',
 'CCLD.csv',
 'CCM.csv',
 'CCNE.csv',
 'CCO.csv',
 'CCOI.csv',
 'CCRN.csv',
 'CCS.csv',
 'CCSI.csv',
 'CCTG.csv',
 'CCU.csv',
 'CCXI.csv',
 'CD.csv',
 'CDE.csv',
 'CDIO.csv',
 'CDLR.csv',
 'CDLX.csv',
 'CDNA.csv',
 'CDNL.csv',
 'CDNS.csv',
 'CDP.csv',
 'CDRE.csv',
 'CDRO.csv',
 'CDT.csv',
 'CDTG.csv',
 'CDW.csv',
 'CDXS.csv',
 'CDZI.csv',
 'CE.csv',
 'CECO.csv',
 'CEG.csv',
 'CELC.csv',
 'CELH.csv',
 'CELU.csv',
 'CELZ.csv',
 'CENN.csv',
 'CENT.csv',
 'CENTA.csv',
 'CENX.csv',
 'CEPF.csv',
 ...]

In [64]:
df = pd.read_csv('data/A.csv')
df

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry
0,2023-02-13,149.909063,151.268582,148.676683,151.209900,925400,False,NaN,NaN,NaN,Diagnostics & Research
1,2023-02-14,150.955609,152.334694,148.128982,149.684113,895400,False,NaN,NaN,NaN,Diagnostics & Research
2,2023-02-15,148.882104,148.979917,147.004208,148.422409,982400,False,NaN,NaN,NaN,Diagnostics & Research
3,2023-02-16,145.546896,146.867299,144.001540,145.028519,1101700,False,NaN,NaN,NaN,Diagnostics & Research
4,2023-02-17,144.030900,145.674069,143.277795,145.008972,1194800,False,NaN,NaN,NaN,Diagnostics & Research
...,...,...,...,...,...,...,...,...,...,...,...
748,2026-02-06,130.320007,131.429993,128.630005,129.580002,1931000,False,NaN,NaN,NaN,Diagnostics & Research
749,2026-02-09,127.790001,128.000000,125.680000,127.500000,2233500,False,NaN,NaN,NaN,Diagnostics & Research
750,2026-02-10,128.289993,129.979996,127.290001,129.000000,2124500,False,NaN,NaN,NaN,Diagnostics & Research
751,2026-02-11,128.029999,129.559998,127.139999,128.899994,2062400,False,NaN,NaN,NaN,Diagnostics & Research
752,2026-02-12,129.000000,129.000000,120.989998,124.879997,3431000,False,NaN,NaN,NaN,Diagnostics & Research

In [65]:
df['ticker'] = 'A'
df

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry,ticker
0,2023-02-13,149.909063,151.268582,148.676683,151.209900,925400,False,NaN,NaN,NaN,Diagnostics & Research,A
1,2023-02-14,150.955609,152.334694,148.128982,149.684113,895400,False,NaN,NaN,NaN,Diagnostics & Research,A
2,2023-02-15,148.882104,148.979917,147.004208,148.422409,982400,False,NaN,NaN,NaN,Diagnostics & Research,A
3,2023-02-16,145.546896,146.867299,144.001540,145.028519,1101700,False,NaN,NaN,NaN,Diagnostics & Research,A
4,2023-02-17,144.030900,145.674069,143.277795,145.008972,1194800,False,NaN,NaN,NaN,Diagnostics & Research,A
...,...,...,...,...,...,...,...,...,...,...,...,...
748,2026-02-06,130.320007,131.429993,128.630005,129.580002,1931000,False,NaN,NaN,NaN,Diagnostics & Research,A
749,2026-02-09,127.790001,128.000000,125.680000,127.500000,2233500,False,NaN,NaN,NaN,Diagnostics & Research,A
750,2026-02-10,128.289993,129.979996,127.290001,129.000000,2124500,False,NaN,NaN,NaN,Diagnostics & Research,A
751,2026-02-11,128.029999,129.559998,127.139999,128.899994,2062400,False,NaN,NaN,NaN,Diagnostics & Research,A
752,2026-02-12,129.000000,129.000000,120.989998,124.879997,3431000,False,NaN,NaN,NaN,Diagnostics & Research,A

In [66]:
for i in csv_files:
    df2 = pd.read_csv(f'data/{i}')
    df2['ticker'] = i[:-4]
    df = pd.concat([df,df2])
df

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry,ticker
0,2023-02-13,149.909063,151.268582,148.676683,151.209900,925400,False,NaN,NaN,NaN,Diagnostics & Research,A
1,2023-02-14,150.955609,152.334694,148.128982,149.684113,895400,False,NaN,NaN,NaN,Diagnostics & Research,A
2,2023-02-15,148.882104,148.979917,147.004208,148.422409,982400,False,NaN,NaN,NaN,Diagnostics & Research,A
3,2023-02-16,145.546896,146.867299,144.001540,145.028519,1101700,False,NaN,NaN,NaN,Diagnostics & Research,A
4,2023-02-17,144.030900,145.674069,143.277795,145.008972,1194800,False,NaN,NaN,NaN,Diagnostics & Research,A
...,...,...,...,...,...,...,...,...,...,...,...,...
271,2026-02-06,10.420000,10.450000,10.420000,10.430000,37000,False,NaN,NaN,NaN,Shell Companies,CEPO
272,2026-02-09,10.420000,10.440000,10.420000,10.440000,5300,False,NaN,NaN,NaN,Shell Companies,CEPO
273,2026-02-10,10.420000,10.440000,10.390000,10.440000,192500,False,NaN,NaN,NaN,Shell Companies,CEPO
274,2026-02-11,10.420000,10.440000,10.420000,10.435000,25100,False,NaN,NaN,NaN,Shell Companies,CEPO
275,2026-02-12,10.430000,10.430000,10.420000,10.420000,8100,False,NaN,NaN,NaN,Shell Companies,CEPO

In [67]:
ticks = df[df['Reported EPS']>df['EPS Estimate']]

In [68]:
ticks.groupby('ticker').count().sort_values(by='industry')

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry
ticker,,,,,,,,,,,
ADAM,5,5,5,5,5,5,5,5,5,5,0
ADAG,1,1,1,1,1,1,1,1,1,1,0
ABVX,1,1,1,1,1,1,1,1,1,1,1
ARTV,1,1,1,1,1,1,1,1,1,1,1
AEBI,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
ARW,12,12,12,12,12,12,12,12,12,12,12
AMAT,13,13,13,13,13,13,13,13,13,13,13
ANET,13,13,13,13,13,13,13,13,13,13,13
ACGL,13,13,13,13,13,13,13,13,13,13,13
A,22,22,22,22,22,22,22,22,22,22,22

In [69]:
earnings = df[df['is_earnings_day']==True]

In [72]:
decent = earnings[earnings['Surprise(%)']>10].sort_values(by='Surprise(%)')
decent = decent[decent['Surprise(%)']<50].sort_values(by='Surprise(%)')
decent

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry,ticker
117,2023-08-02,7.366064,7.465701,7.202373,7.380298,1089900,True,0.32,0.35,10.03,REIT - Mortgage,ACRE
684,2025-11-04,250.350006,257.380005,247.389999,250.050003,56491800,True,0.68,0.75,10.04,Semiconductors,AMD
245,2024-02-05,87.127822,87.804374,86.353221,87.019966,975500,True,0.95,1.05,10.04,Engineering & Construction,ACM
621,2025-08-06,130.675003,131.289993,128.300003,130.500000,11212800,True,0.94,1.03,10.06,Travel Services,ABNB
679,2025-10-28,184.148169,184.544309,175.779602,180.959198,6047500,True,1.65,1.82,10.06,REIT - Specialty,AMT
...,...,...,...,...,...,...,...,...,...,...,...,...
269,2024-03-11,2.210000,2.280000,2.170000,2.220000,873100,True,-0.12,-0.06,49.42,Specialty Chemicals,ALTO
372,2024-08-07,7.385382,7.895583,7.385382,7.862127,236300,True,0.54,0.80,49.53,REIT - Mortgage,AFCG
741,2026-01-28,23.860001,24.370001,23.730000,23.799999,190400,True,0.57,0.85,49.65,Banks - Regional,ALRS
185,2023-11-07,4.180000,4.570000,4.130000,4.310000,2177900,True,0.13,0.19,49.80,Drug Manufacturers - Specialty & Generic,AMRX
62,2025-08-12,12.600000,12.625000,12.020000,12.400000,41500,True,0.09,0.13,49.89,Credit Services,ANTA

In [75]:
decent[decent['industry'].isin('')]

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry
ticker,,,,,,,,,,,
ASPS,1,1,1,1,1,1,1,1,1,1,1
ABP,1,1,1,1,1,1,1,1,1,1,1
ABSI,1,1,1,1,1,1,1,1,1,1,1
ARMK,1,1,1,1,1,1,1,1,1,1,1
ARR,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
AMWL,9,9,9,9,9,9,9,9,9,9,9
AIZ,10,10,10,10,10,10,10,10,10,10,10
ALRM,10,10,10,10,10,10,10,10,10,10,10
ACEL,10,10,10,10,10,10,10,10,10,10,10
ACGL,11,11,11,11,11,11,11,11,11,11,11

In [61]:
earnings[earnings['industry']=='Software - Application']

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry,ticker
21,2023-03-15,330.000000,334.279999,328.170013,333.609985,4627100,True,2.65,2.71,2.17,Software - Application,ADBE
85,2023-06-15,475.470001,495.200012,474.250000,490.910004,9682200,True,3.79,3.91,3.22,Software - Application,ADBE
147,2023-09-14,551.090027,555.190002,544.340027,552.159973,4786900,True,3.98,4.10,3.06,Software - Application,ADBE
210,2023-12-13,630.409973,632.450012,618.030029,624.260010,6188500,True,4.14,4.27,3.17,Software - Application,ADBE
272,2024-03-14,578.000000,579.539978,568.760010,570.450012,5908100,True,4.38,4.48,2.23,Software - Application,ADBE
...,...,...,...,...,...,...,...,...,...,...,...,...
456,2024-12-05,15.570000,15.940000,15.366000,15.460000,4497600,True,-0.07,-0.02,70.42,Software - Application,ASAN
518,2025-03-10,17.480000,17.620001,16.440001,16.680000,8457700,True,-0.01,NaN,100.00,Software - Application,ASAN
577,2025-06-03,18.340000,19.000000,18.209999,19.000000,6884100,True,0.02,0.05,154.58,Software - Application,ASAN
640,2025-09-03,13.860000,14.300000,13.682000,14.230000,9124600,True,0.05,0.06,20.82,Software - Application,ASAN
703,2025-12-02,12.930000,13.670000,12.920000,13.390000,9292900,True,0.06,0.08,29.35,Software - Application,ASAN

In [42]:
we

,ticker,name,industry,marketCap
0,A,"Agilent Technologies, Inc.",Diagnostics & Research,35321013869
1,AA,Alcoa Corporation,Aluminum,15950690203
2,AACB,Artius II Acquisition Inc.,Shell Companies,287000820
3,AACG,ATA Creativity Global,Education & Training Services,38454209
4,AAL,American Airlines Group Inc.,Airlines,9277230174
...,...,...,...,...
5526,ZVIA,Zevia PBC,Beverages - Non-Alcoholic,117756263
5527,ZVRA,"Zevra Therapeutics, Inc.",Biotechnology,472899294
5528,ZWS,Zurn Elkay Water Solutions Corporation,Pollution & Treatment Controls,8570079904
5529,ZYBT,Zhengye Biotechnology Holding Limited,Drug Manufacturers - Specialty & Generic,47391376
5530,ZYME,Zymeworks Inc.,Biotechnology,1733962493

In [48]:
we[we['industry']=='Software - Infrastructure']

,ticker,name,industry,marketCap
56,ACIW,"ACI Worldwide, Inc.",Software - Infrastructure,4052904956
122,AEVA,"Aeva Technologies, Inc.",Software - Infrastructure,770825220
151,AGPU,Axe Compute Inc.,Software - Infrastructure,7431800
163,AI,"C3.ai, Inc.",Software - Infrastructure,1461019057
173,AIOT,"PowerFleet, Inc.",Software - Infrastructure,479825646
...,...,...,...,...
5461,YEXT,"Yext, Inc.",Software - Infrastructure,656462364
5483,YYAI,AiRWA Inc.,Software - Infrastructure,39444529
5495,ZENA,"ZenaTech, Inc.",Software - Infrastructure,133664860
5499,ZETA,Zeta Global Holdings Corp.,Software - Infrastructure,3684709844
5518,ZS,"Zscaler, Inc.",Software - Infrastructure,27253629447

In [88]:
filtering = we[we['marketCap']>10000000000]

In [89]:
filtering = we[we['marketCap']<2*10**9]

In [90]:
filtering

,ticker,name,industry,marketCap
2,AACB,Artius II Acquisition Inc.,Shell Companies,287000820
3,AACG,ATA Creativity Global,Education & Training Services,38454209
5,AAME,Atlantic American Corporation,Insurance - Life,53440737
6,AAMI,Acadian Asset Management Inc.,Asset Management,1867944067
12,AARD,"Aardvark Therapeutics, Inc.",Biotechnology,267158047
...,...,...,...,...
5525,ZURA,Zura Bio Limited,Biotechnology,456894083
5526,ZVIA,Zevia PBC,Beverages - Non-Alcoholic,117756263
5527,ZVRA,"Zevra Therapeutics, Inc.",Biotechnology,472899294
5529,ZYBT,Zhengye Biotechnology Holding Limited,Drug Manufacturers - Specialty & Generic,47391376
5530,ZYME,Zymeworks Inc.,Biotechnology,1733962493

In [91]:
df

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),industry,ticker
0,2023-02-13,149.909063,151.268582,148.676683,151.209900,925400,False,NaN,NaN,NaN,Diagnostics & Research,A
1,2023-02-14,150.955609,152.334694,148.128982,149.684113,895400,False,NaN,NaN,NaN,Diagnostics & Research,A
2,2023-02-15,148.882104,148.979917,147.004208,148.422409,982400,False,NaN,NaN,NaN,Diagnostics & Research,A
3,2023-02-16,145.546896,146.867299,144.001540,145.028519,1101700,False,NaN,NaN,NaN,Diagnostics & Research,A
4,2023-02-17,144.030900,145.674069,143.277795,145.008972,1194800,False,NaN,NaN,NaN,Diagnostics & Research,A
...,...,...,...,...,...,...,...,...,...,...,...,...
271,2026-02-06,10.420000,10.450000,10.420000,10.430000,37000,False,NaN,NaN,NaN,Shell Companies,CEPO
272,2026-02-09,10.420000,10.440000,10.420000,10.440000,5300,False,NaN,NaN,NaN,Shell Companies,CEPO
273,2026-02-10,10.420000,10.440000,10.390000,10.440000,192500,False,NaN,NaN,NaN,Shell Companies,CEPO
274,2026-02-11,10.420000,10.440000,10.420000,10.435000,25100,False,NaN,NaN,NaN,Shell Companies,CEPO
275,2026-02-12,10.430000,10.430000,10.420000,10.420000,8100,False,NaN,NaN,NaN,Shell Companies,CEPO

In [93]:
mcaps_of_value = df[df['ticker'].isin(filtering['ticker'])]

In [101]:
to_test = mcaps_of_value[mcaps_of_value['Date']>'2024-08-01']

In [103]:
to_test.groupby('industry').count()

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),ticker
industry,,,,,,,,,,,
Advertising Agencies,1920,1920,1920,1920,1920,1920,1920,11,10,11,1920
Aerospace & Defense,1320,1320,1320,1320,1320,1320,1320,7,7,7,1320
Agricultural Inputs,768,768,768,768,768,768,768,0,0,0,768
Airlines,384,384,384,384,384,384,384,6,6,6,384
Airports & Air Services,384,384,384,384,384,384,384,6,6,6,384
...,...,...,...,...,...,...,...,...,...,...,...
Travel Services,79,79,79,79,79,79,79,0,0,0,79
Uranium,384,384,384,384,384,384,384,0,0,0,384
Utilities - Regulated Water,768,768,768,768,768,768,768,6,6,6,768
Utilities - Renewable,768,768,768,768,768,768,768,0,0,0,768
Waste Management,1536,1536,1536,1536,1536,1536,1536,7,7,6,1536

In [107]:
getit = to_test[to_test['is_earnings_day']==True]

In [112]:
getit[getit['EPS Estimate']>getit['Reported EPS']].sort_values(by='Reported EPS').groupby('industry').count().sort_values(by='ticker')

,Date,Open,High,Low,Close,Volume,is_earnings_day,EPS Estimate,Reported EPS,Surprise(%),ticker
industry,,,,,,,,,,,
Auto & Truck Dealerships,1,1,1,1,1,1,1,1,1,1,1
Farm & Heavy Construction Machinery,1,1,1,1,1,1,1,1,1,1,1
Education & Training Services,1,1,1,1,1,1,1,1,1,1,1
Insurance - Property & Casualty,1,1,1,1,1,1,1,1,1,1,1
Electronic Components,1,1,1,1,1,1,1,1,1,1,1
Drug Manufacturers - General,1,1,1,1,1,1,1,1,1,1,1
Medical Distribution,1,1,1,1,1,1,1,1,1,1,1
Leisure,1,1,1,1,1,1,1,1,1,1,1
Semiconductor Equipment & Materials,1,1,1,1,1,1,1,1,1,1,1
Medical Instruments & Supplies,1,1,1,1,1,1,1,1,1,1,1
Utilities - Regulated Water,1,1,1,1,1,1,1,1,1,1,1
Insurance - Specialty,2,2,2,2,2,2,2,2,2,2,2
Information Technology Services,2,2,2,2,2,2,2,2,2,2,2
Household & Personal Products,2,2,2,2,2,2,2,2,2,2,2
Electrical Equipment & Parts,2,2,2,2,2,2,2,2,2,2,2
Apparel Retail,2,2,2,2,2,2,2,2,2,2,2
Solar,2,2,2,2,2,2,2,2,2,2,2
Specialty Retail,2,2,2,2,2,2,2,2,2,2,2
REIT - Hotel & Motel,3,3,3,3,3,3,3,3,3,3,3
Airlines,3,3,3,3,3,3,3,3,3,3,3
Coking Coal,3,3,3,3,3,3,3,3,3,3,3
Asset Management,3,3,3,3,3,3,3,3,3,3,3
Engineering & Construction,3,3,3,3,3,3,3,3,3,3,3
Other Precious Metals & Mining,3,3,3,3,3,3,3,3,3,3,3
Airports & Air Services,4,4,4,4,4,4,4,4,4,4,4
Building Products & Equipment,4,4,4,4,4,4,4,4,4,4,4
Health Information Services,4,4,4,4,4,4,4,4,4,4,4
Credit Services,4,4,4,4,4,4,4,4,4,4,4
Real Estate Services,4,4,4,4,4,4,4,4,4,4,4
Semiconductors,4,4,4,4,4,4,4,4,4,4,4
Textile Manufacturing,4,4,4,4,4,4,4,4,4,4,4
Aerospace & Defense,4,4,4,4,4,4,4,4,4,4,4
Rental & Leasing Services,5,5,5,5,5,5,5,5,5,5,5
Capital Markets,5,5,5,5,5,5,5,5,5,5,5
"Furnishings, Fixtures & Appliances",5,5,5,5,5,5,5,5,5,5,5
Internet Content & Information,5,5,5,5,5,5,5,5,5,5,5
Waste Management,5,5,5,5,5,5,5,5,5,5,5
Oil & Gas Exploration & Production,5,5,5,5,5,5,5,5,5,5,5
Chemicals,6,6,6,6,6,6,6,6,6,6,6
Advertising Agencies,6,6,6,6,6,6,6,6,6,6,6
Specialty Chemicals,6,6,6,6,6,6,6,6,6,6,6
Pollution & Treatment Controls,7,7,7,7,7,7,7,7,7,7,7
Software - Application,7,7,7,7,7,7,7,7,7,7,7
REIT - Diversified,7,7,7,7,7,7,7,7,7,7,7
Banks - Regional,7,7,7,7,7,7,7,7,7,7,7
Business Equipment & Supplies,7,7,7,7,7,7,7,7,7,7,7
Entertainment,8,8,8,8,8,8,8,8,8,8,8
Farm Products,9,9,9,9,9,9,9,9,9,9,9
Communication Equipment,10,10,10,10,10,10,10,10,10,10,10
Oil & Gas Equipment & Services,11,11,11,11,11,11,11,11,11,11,11
Medical Devices,14,14,14,14,14,14,14,14,14,14,14
Medical Care Facilities,15,15,15,15,15,15,15,15,15,15,15
Software - Infrastructure,15,15,15,15,15,15,15,15,15,15,15
REIT - Mortgage,20,20,20,20,20,20,20,20,20,20,20
Drug Manufacturers - Specialty & Generic,21,21,21,21,21,21,21,21,21,21,21
Biotechnology,87,87,87,87,87,87,87,87,87,87,87